body{
    /* background-color: rgb(146, 118, 118); */
    padding: 0px;
    margin: 0px;
}
h1{
font-family: 'Times New Roman', Times, serif;
text-align: center;
color: aliceblue;
}
h2{
font-family: 'Times New Roman', Times, serif;
color: aliceblue;
}
