body{
    background-color: rgb(146, 118, 118);
    padding: 50px;
    margin: 10px;
}
h1{
font-family: 'Times New Roman', Times, serif;
text-align: center;
color: aliceblue;
}
h2{
font-family: 'Times New Roman', Times, serif;
color: aliceblue;
}
